<!-- accounts/templates/accounts/login.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Login Page</h1>
        </header>
        <h2>Login</h2>
        <form method="post" class="form-container">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-actions">
                <button type="submit" class="button btn-primary">Login</button>
            </div>
        </form>
        {% if messages %}
            <div class="messages">
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="signup">
            <p>Don't have an account?</p>
            <a href="{% url 'signup' %}" class="button btn-secondary">Sign Up</a>
        </div>
    </div>
</body>
</html>
