<!--core/templates/core/home.html-->
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Almoxarifado</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <header>
    <h1>Almoxarifado</h1>
    <nav>
      <a href="{% url 'core:listar_produtos' %}">Produtos</a>

      {% if user.is_authenticated %}
        <a href="{% url 'core:movimentar_produto' %}">Emprestar/Devolver</a>

        {% if user.is_staff %}
          <a href="{% url 'core:adicionar_produto' %}">Cadastrar Produto</a>
        {% endif %}

        <span>Usuário: {{ user.username }}</span>
        <a href="{% url 'logout' %}">Sair</a>
      {% else %}
        <a href="{% url 'login' %}">Login</a>
      {% endif %}
    </nav>
    <hr>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
